<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @assignment.game.teams %>
</p>

<p>
  <strong>Center referee:</strong>
  <%= @assignment.center[0] %>
</p>

<p>
  <strong>Assistant referee 1:</strong>
  <%= @assignment.ar1[0] %>
</p>

<p>
  <strong>Assistant referee 2:</strong>
  <%= @assignment.ar2[0]  %>
</p>

<p>
  <strong>Fourth official:</strong>
  <%= @assignment.fourth[0] %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
